<div class="row">
  <div class="col-md-4">
    <mat-card>
      <mat-card-title>1. Login y Creacion de Menor</mat-card-title>
        <video width="317" height="250" controls>
          <source src="/assets/videos/vid_1.mp4" type="video/mp4">
          Tu navegador no soporta la etiqueta de video.
        </video>

    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-title>3. Precarga Simple</mat-card-title>
      <video width="317" height="250" controls>
        <source src="/assets/videos/vid_2.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-title>3. Acompañantes</mat-card-title>
      <video width="317" height="250" controls>
        <source src="/assets/videos/vid_4.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <mat-card>
      <mat-card-title>4. Precarga Completa</mat-card-title>
      <video width="317" height="250" controls>
        <source src="/assets/videos/vid_3.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-title>Cargar Varios Menores</mat-card-title>
      <video width="317" height="250" controls>
        <source src="/assets/videos/vid_5.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-title>Autorizacion de Ordenes </mat-card-title>
      <video width="317" height="250" controls>
        <source src="/assets/videos/vid_6.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </mat-card>
  </div>
</div>

