<div class="row">
  <div class="col-12 mt-5">

    <video width="1200"  controls>
      <source src="/assets/videos/vid_2.mp4" type="video/mp4">
      Tu navegador no soporta la etiqueta de video.
    </video>

</div>
<div class="text-center">
  <h2>Cualquier Inconveniente enviar mensaje de Whatsapp</h2>
  <h3>Al 3704299434 - Ariel Bernardo y me estare comumicando</h3>
</div>
<!-- <div class="div1 col-6 ">

  <h1 class="ms-4">Servicio Web para la </h1>
  <h1 class="ms-4 mt-4">Autorización Electronica</h1>
  <h1 class="ms-4 mt-4">de Menores</h1>


  <div class="col-2">

    <img class="ms-4 mt-4" src="https://www.argentina.gob.ar/sites/default/files/iso-migraciones.png" alt="">

  </div>
  <div class="col-4">
    <h1 class="ms-4 mt-5">Migraciones</h1>
  </div>
</div> -->
</div>



