<div class="container">
  <div class="row">
    <div class="col-12 mt-5">

      <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls>
          <source src="/assets/videos/v2.mp4" type="video/mp4">
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>

    </div>
    <div class="col-12 text-center mt-3">
      <h2>Cualquier Inconveniente enviar mensaje de Whatsapp</h2>
      <h3>Al 3704299434 - Ariel Bernardo y me estaré comunicando</h3>
    </div>
  </div>
</div>
