/* Estilos personalizados para el header de la tabla */
.custom-header-cell {
    background-color: #333333;
    /* Cambia el color de fondo a tu preferencia */
    color: #fff;
    /* Cambia el color del texto a tu preferencia */
}

/* Estilos personalizados para el footer de la tabla */
.custom-footer-cell {
    background-color: #d9d9d9;
    /* Cambia el color de fondo a tu preferencia */
    color: #666666;
    /* Cambia el color del texto a tu preferencia */
}

/* .custom-cell {
    border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
   
    padding: 8px;
   
} */