<div class="mt-4">

  <h1>Listado de Ordenes</h1>
        
  <hr>
  <div class="row">
    <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Sin Autorizar">
       <br>

      </mat-tab>
      <mat-tab label="Completados">
        <br>
      </mat-tab>
      <mat-tab label="Todos">
        <br>
      </mat-tab>
      
    </mat-tab-group>

    <ng-container class="mt-5">
      
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="fecha_del_instrumento">
          <th mat-header-cell class="custom-header-cell custom-cell" *matHeaderCellDef mat-sort-header>F.de Instrumento</th>
          <td mat-cell class="custom-cell" *matCellDef="let element;"> {{element.fecha_del_instrumento}} </td>
        </ng-container>
        <ng-container matColumnDef="apellidoescribano">
          <th mat-header-cell class="custom-header-cell" *matHeaderCellDef mat-sort-header>Escribano</th>
          <td mat-cell class="custom-cell" *matCellDef="let element;"> {{ element.apellidoescribano }} {{element.nombreescribano}} </td>
        </ng-container>
        
        <ng-container matColumnDef="apellido">
          <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>Nombre/s</th>
          <td mat-cell class="custom-cell" *matCellDef="let element;"> {{element.apellido}} {{element.segundo_apellido}} ,{{element.nombre}} {{element.otros_nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="numero_actuacion_notarial_cert_firma">
          <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>Nro.Act. Notarial</th>
          <td mat-cell class="custom-cell" *matCellDef="let element;"> {{element.numero_actuacion_notarial_cert_firma}} </td>
        </ng-container>
        <ng-container matColumnDef="aprobacion">
          <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>Aprobacion</th>
          <td mat-cell class="custom-cell" *matCellDef="let element;"> {{ (element.aprobacion)? element.aprobacion : ''}} </td>
        </ng-container>
        <ng-container matColumnDef="editar">
          <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
            
          </th>
          <td mat-cell class="custom-cell" *matCellDef="let element;">
            <!-- <button *ngIf="!element.aprobacion" mat-flat-button color="primary" (click)="editarSolicitud(element.id)"> Editar <mat-icon>edit_note</mat-icon></button> -->
          </td>
        </ng-container>
        <ng-container matColumnDef="autorizar" >
          <th mat-header-cell class="custom-header-cell" *matHeaderCellDef>
            <mat-form-field appearance="standard" >
              <mat-label>Buscar autorizaciones</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="busqueda..." #input>
            </mat-form-field>
          </th>
          <td mat-cell class="custom-cell" *matCellDef="let element;">
            <button *ngIf="!element.aprobacion"
              class="ms-3 float-left"
              mat-flat-button matStepperNext
              color="accent" (click)="autorizarSoap(element.id)">
              <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
              <ng-container *ngIf="!loading">Autorizar</ng-container>
              <mat-icon>playlist_add_check</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="pdf">
          <th mat-header-cell class="custom-header-cell" *matHeaderCellDef></th>
          <td mat-cell class="custom-cell" *matCellDef="let element;">
            <button *ngIf="element.aprobacion" class="ms-3 float-left"
            mat-flat-button matStepperNext
            color="accent" (click)="crearPdf(element.id)"> PDF </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="boton1">
          <th mat-header-cell class="custom-header-cell" *matHeaderCellDef></th>
          <td mat-cell class="custom-cell" *matCellDef="let element;">
            <!-- <button *ngIf="!element.aprobacion && userId!=1"
            mat-button (click)="duplicar(element.id)">Duplicar <mat-icon>content_copy </mat-icon></button> -->
          </td>
        </ng-container>
        <ng-container matColumnDef="boton2">
          <th mat-header-cell class="custom-header-cell" *matHeaderCellDef></th>
          <td mat-cell class="custom-cell" *matCellDef="let element;">
            <!-- <button mat-button *ngIf="!element.aprobacion"
              (click)="eliminarOrden(element.id)"><mat-icon class="text-danger">delete</mat-icon></button> -->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator 
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </ng-container>
    
  </div>

</div>


